<div th:fragment="features">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4 col-sm-6 text-center">
        <img src="/images/features/pay.png" alt="">
        <h4 class="text-light m-2">НАДІЙНА ОНЛАЙН ОПЛАТА</h4>
        <p class="text-light">Замовлення можна оплатити картою онлайн на
          нашому сайті або через термінал
          кур’єра</p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <img src="/images/features/free.png" alt="">
        <h4 class="text-light m-2">БЕЗКОШТОВНА ДОСТАВКА</h4>
        <p class="text-light">Безкоштовна доставка по центру Києва.</p>
        <p>
          <a href="" class="text-warning">Дивись карту доставки</a>
        </p>
      </div>
      <div class="col-md-4 col-sm-6 text-center">
        <img src="/images/features/fast.png" alt="">
        <h4 class="text-light m-2">ЗАВЖДИ ШВИДКО ТА ВЧАСНО</h4>
        <p class="text-light">Всі страви готуються виключно в
          <span><a href="" class="text-warning">нашому ресторані</a></span>
          шеф-кухарем особисто
        </p>
      </div>
    </div>
  </div>
</div>