<div th:fragment="footer">
    <div class="m-5 d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <img src="/images/logo.png" alt="" style="height: 62px; width: 62px;">
                <span class="mb-3 ms-2 mb-md-0 text-light">© 2022 ChiNA</span>
            </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://web.telegram.org/">
                <img src="/images/media/telegram.png" alt=""
                     style="height: 42px; width: 42px;">
            </a></li>
            <li class="ms-3"><a class="text-muted" href="https://twitter.com/">
                <img src="/images/media/twitter.png" alt=""
                     style="height: 42px; width: 42px;">
            </a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/">
                <img src="/images/media/instagram.png" alt=""
                     style="height: 42px; width: 42px;">
            </a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/">
                <img src="/images/media/facebook.png" alt="" style="height: 42px; width: 42px;">
            </a></li>
        </ul>
    </div>
</div>