<div id="header" class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="/images/logo.png"
             alt="logo" style="width: 42px; height: 42px">
        <span class=" fs-4 ms-2">Ресторан ChiNA</span>
    </a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Меню</a>
            <ul class="dropdown-menu dropdown-menu-light">
                <li th:each="category : ${categories}">
                    <a class="dropdown-item" th:href="'/menu#'+${category}" th:text="${category}"></a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" data-bs-toggle="modal" href="/#loginModal" role="button">Ваш
                акаунт</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light me-2" role="button" href="/aboutUs">Про нас</a>
        </li>
        <li class="nav-item">
            <a role="link" href="/cart">
                <img src="/images/cart.png" alt="" style="width: 38px; height: 38px">
            </a>
        </li>
    </ul>
</div>