<div th:fragment="dishModal">
    <div id="dishModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content bg-dark">
                <div class="modal-header" style="border-color: white">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <img id="dishImg" src="" alt=""
                                 class="img-fluid rounded">
                        </div>
                        <div class="container col-8">
                            <p id="dishName" class="h1 text-light"></p>
                            <p id="dishWeight" class="text-warning"></p>
                            <p id="dishComposition" class="h5 text-secondary"></p>
                            <div class="d-flex my-4">
                                <p id="dishDescription" class="text-secondary"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer d-block">
                    <div class="row d-flex align-items-center justify-content-end">
                        <div class="row col-md-6 col-sm-12">
                            <p id="dishPrice" class="col-5 h4 text-warning mt-1"></p>
                            <form id="dishId" class="col-7" action="" method="get">
                                <button class="btn btn-outline-warning round">Додати до кошика</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const dishModal = document.getElementById('dishModal')
        dishModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            const name = button.getAttribute('data-dish-name')
            const weight = button.getAttribute('data-dish-weight')
            const composition = button.getAttribute('data-dish-composition')
            const price = button.getAttribute('data-dish-price')
            const description = button.getAttribute('data-dish-description')
            const img = button.getAttribute('data-dish-img')
            const id = button.getAttribute('data-dish-id')

            const dishName = dishModal.querySelector('#dishName')
            const dishWeight = dishModal.querySelector('#dishWeight')
            const dishComposition = dishModal.querySelector('#dishComposition')
            const dishPrice = dishModal.querySelector('#dishPrice')
            const dishDescription = dishModal.querySelector('#dishDescription')

            dishName.textContent = name
            dishWeight.textContent = `${weight} гр`
            dishComposition.textContent = `Склад страви: ${composition}`
            dishPrice.textContent = `${price} ГРН`
            dishDescription.textContent = description
            document.getElementById("dishImg").src = img
            document.getElementById("dishId").action = `/cart/add/${id}`
        })
    </script>
</div>
