<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiNa</title>
    <link rel=”icon” href="../static/images/logo.png" type=”image/png”><!-- Зробити іконку та доробити навбар-->
    <link rel="stylesheet" href="../static/css/carousel.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: #header"></header>
<main>
    <!--  Modal login/register  -->

    <div th:insert="blocks/login :: #loginModal"></div>

    <div th:insert="blocks/register :: #registerModal"></div>

    <!--  Modal login/register  -->

    <!--   Carousel  -->

    <div id="mainCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class=""
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"
                    class="active"
                    aria-current="true"></button>
            <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/images/carousel/restaurant.png" alt="" class="w-100">
                <div class="carousel-caption d-md-block text-end">
                    <h1 class="text-light">Ми відкрилися</h1>
                    <p class="text-light">Наш новий ресторан вже чекає на вас</p>
                    <p><a class="btn btn-lg btn-dark"
                          href="about_us.html#orderingTableForm">Зарезервувати столик</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/carousel/family_dinner.png" alt="" class="w-100">
                <div class="carousel-caption d-md-block">
                    <h1>Нове меню</h1>
                    <p>Ще більше страв для кожного</p>
                    <p><a class="btn btn-lg btn-dark" href="menu.html">Детальніше</a></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/images/carousel/delivery.png" alt="" class="w-100">
                <div class="carousel-caption d-md-block text-start">
                    <h1>Доставка</h1>
                    <p>Безкоштовна та швидка доставка</p>
                    <p><a class="btn btn-lg btn-dark"
                          href="menu.html">Замовити</a></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--  Popular   -->

    <div class="container my-4">
        <h2 class="text-warning my-3 h1">- Популярні страви</h2>
        <div class="row">
            <div th:each="dish : ${popular}" class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo" th:text="${dish.getName()}"></a>
                    <p class="card-text"><small class="text-light" th:text="${dish.getWeight()} + ' гр'"></small></p>
                    <p class="card-text text-center text-muted" th:text="${dish.getComposition()}"></p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning" th:text="${dish.getPrice()} + ' ГРН'"></p>
                        <form th:action="'/cart/add/' + ${dish.getDishId()}" method="post">
                            <button class="col-6 btn btn-outline-warning round" type="submit">Додати до кошика</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo">ГОСТРА ТЕЛЯТИНА ПО-СИЧУАНСЬКИ</a>
                    <p class="card-text"><small class="text-light">320 гр</small></p>
                    <p class="card-text text-center text-muted">Телятина, цибуля, брокколі, перець болгарський</p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning">218 ГРН</p>
                        <button class="col-6 btn btn-outline-warning round">Додати до кошика
                        </button>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo">ГОСТРА ТЕЛЯТИНА ПО-СИЧУАНСЬКИ</a>
                    <p class="card-text"><small class="text-light">320 гр</small></p>
                    <p class="card-text text-center text-muted">Телятина, цибуля, брокколі, перець болгарський</p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning">218 ГРН</p>
                        <button class="col-6 btn btn-outline-warning round">Додати до кошика
                        </button>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo">ГОСТРА ТЕЛЯТИНА ПО-СИЧУАНСЬКИ</a>
                    <p class="card-text"><small class="text-light">320 гр</small></p>
                    <p class="card-text text-center text-muted">Телятина, цибуля, брокколі, перець болгарський</p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning">218 ГРН</p>
                        <button class="col-6 btn btn-outline-warning round">Додати до кошика
                        </button>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo">ГОСТРА ТЕЛЯТИНА ПО-СИЧУАНСЬКИ</a>
                    <p class="card-text"><small class="text-light">320 гр</small></p>
                    <p class="card-text text-center text-muted">Телятина, цибуля, брокколі, перець болгарський</p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning">218 ГРН</p>
                        <button class="col-6 btn btn-outline-warning round">Додати до кошика
                        </button>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark col-md-4 com-sm-12 mb-2">
                <a href="#" data-bs-toggle="modal"
                   data-bs-target="#dishModal" data-bs-whatever="@mdo">
                    <img src="https://brucelee.com.ua/wp-content/uploads/2019/11/bl011.jpg"
                         class="card-img-top pt-2"
                         alt="...">
                </a>

                <div class="card-body">
                    <a class="card-title h5 link-light text-decoration-none" href="#" data-bs-toggle="modal"
                       data-bs-target="#dishModal" data-bs-whatever="@mdo">ГОСТРА ТЕЛЯТИНА ПО-СИЧУАНСЬКИ</a>
                    <p class="card-text"><small class="text-light">320 гр</small></p>
                    <p class="card-text text-center text-muted">Телятина, цибуля, брокколі, перець болгарський</p>
                    <div class="row card-footer">
                        <p class="col-6 card-text text-warning">218 ГРН</p>
                        <button class="col-6 btn btn-outline-warning round">Додати до кошика
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  End Carousel  -->


    <!--  End Popular   -->

    <!--  Modal Dish  -->

    <div th:insert="blocks/modal_dish :: modal_dish"></div>

    <!--  End Modal Dish  -->

    <!--  Features  -->

    <div th:insert="blocks/features :: features"></div>

    <!-- End Features  -->

</main>

<footer th:insert="blocks/footer :: footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>