<!doctype html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiNa</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div th:insert="blocks/adminPanel :: #adminPanel"></div>
            </div>

            <div class="col py-3">
                <div class="row ps-1 pb-3 border-bottom">
                    <p class="h3" th:text="'Замовлення №'+${order.getOrderId()}"></p>

                    <div th:if="${order.isTableOrder == false && order.isDelivery == true}">
                        <p class="h4" th:text="'Вид замовлення: '+${'Доставка'}"></p>
                    </div>
                    <div th:if="${order.isTableOrder == false && order.isDelivery == false}">
                        <p class="h4" th:text="'Вид замовлення: '+${'Самовивіз'}"></p>
                    </div>
                    <div th:if="${order.isTableOrder == true}">
                        <p class="h4" th:text="'Вид замовлення: '+${'Замовлення столику'}"></p>
                    </div>
                    <p class="h4 my-2" th:text="'Адреса доставки: '
                       +${order.getDeliveryAddress() != null ? order.getDeliveryAddress() : 'Відсутня'}"></p>
                    <p class="h4" th:text="'Дата доставки: '+${order.getOrderDate().toLocalDate()}"></p>
                    <p class="h4" th:text="'Час доставки: '+${order.getOrderDate().toLocalTime()}"></p>
                    <p class="h4" th:text="'Клієнт: '+${order.getCustomerName()}"></p>
                    <p class="h4" th:text="'Номер телефону клієнта: '+${order.getCustomerPhone()}"></p>
                    <p class="h4" th:text="'Email клієнта: '+${order.getCustomerEmail()}"></p>
                    <p class="h4" th:text="'Прибори: '+${order.getCutlery()}"></p>
                    <p class="h4" th:text="'Спосіб оплати: '+${order.getPaymentKind()}"></p>
                    <p class="h4" th:text="'Загальна сума: '+${order.getSum()}+' грн'"></p>
                </div>
                <div class="mx-1">
                    <p class="h4 text-center my-2">Список страв</p>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">№</th>
                            <th scope="col">Назва</th>
                            <th scope="col">Вага</th>
                            <th scope="col">Сума</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dish: ${orderDishes}">
                            <th scope="row" th:text="${dish.getDishId()}"></th>
                            <td th:text="${dish.getName()}"></td>
                            <td th:text="${dish.getWeight()+' гр'}"></td>
                            <td th:text="${dish.getPrice()}+' грн'"></td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>