<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiNa</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div th:insert="blocks/adminPanel :: #adminPanel"></div>
            </div>
            <div class="col py-3">
                <div class="row ps-1 pb-3 border-bottom">
                    <p class="h3 ms-3" th:text="'Клієнт №'+${userId}"></p>
                </div>
                <form th:action="${actionPath}" method="post"
                      class="row g-2 needs-validation mt-1" enctype="multipart/form-data">
                    <div class="col-md-3 col-sm-12 card my-2">
                        <div class="text-center">
                            <img class="rounded-circle mt-2" width="250" height="250"
                                 th:src="${userImage.equals('user.png') ? '/images/user.png' : '/img/users/'+ userImage}"
                                 th:alt="${userImage}" id="userImage">
                        </div>

                        <div class="card-body">
                            <input class="form-control" type="file"
                                   id="imgFile" name="imgFile" required>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 card-body px-4">
                        <div class="row">
                            <div class="col-md-4 my-1">
                                <label for="name" class="form-label">Ім'я</label>
                                <input type="text" class="form-control" id="name" th:value="${userName}"
                                       name="userName" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-4 my-1">
                                <label for="phone" class="form-label">Номер телефону</label>
                                <input type="text" class="form-control" id="phone" th:value="${userPhone}"
                                       name="userPhone" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-4 my-1">
                                <label for="email" class="form-label">Email</label>
                                <input type="text" class="form-control" id="email" th:value="${userEmail}"
                                       name="userEmail" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="address" class="form-label">Адреса</label>
                                <input type="text" class="form-control" id="address" th:value="${userAddress}"
                                       name="userAddress" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="flat" class="form-label">Квартира/Офіс</label>
                                <input type="text" class="form-control" id="flat" th:value="${userFlat}"
                                       name="userFlat" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="entrance" class="form-label">Під'їзд</label>
                                <input type="text" class="form-control" id="entrance" th:value="${userEntrance}"
                                       name="userEntrance">
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="floor" class="form-label">Поверх</label>
                                <input type="text" class="form-control" id="floor" th:value="${userFloor}"
                                       name="userFloor">
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="login" class="form-label">Логін</label>
                                <input type="text" class="form-control" id="login" th:value="${userLogin}"
                                       name="userLogin" required>
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="password" class="form-label">Пароль</label>
                                <input type="text" class="form-control" id="password"
                                       name="userPassword">
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="passwordConfirmed" class="form-label">Повторіть пароль</label>
                                <input type="text" class="form-control" id="passwordConfirmed">
                                <div class="invalid-feedback">
                                    Заповніть поле
                                </div>
                            </div>
                            <div class="col-md-3 my-1">
                                <label for="userRole" class="form-label">Права доступу</label>
                                <select class="form-select" id="userRole" name="userRole">
                                    <option th:each="role : ${roles}" th:value="${role.name()}"
                                            th:text="${role.name()}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row mt-3 p-0">
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <p class="h5 text-center">Коментарі користувача</p>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Текст</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="comment : ${comments}">
                                    <th scope="row" th:text="${comment.getCommentId()}"></th>
                                    <td th:text="${comment.getCreationDate()}"></td>
                                    <td th:text="${comment.getText()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-striped">
                                <thead>
                                <p class="h5 text-center">Замовлення користувача</p>
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Адреса</th>
                                    <th scope="col">Дата отримання</th>
                                    <th scope="col">Деталі</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="order : ${orders}">
                                    <th scope="row" th:text="${order.getOrderId()}"></th>
                                    <td th:text="${order.getDeliveryAddress()}"></td>
                                    <td th:text="${order.getOrderDate().toLocalDate()}"></td>
                                    <td><a th:href="'/admin/order/page/'+${order.getOrderId()}">Детальніше</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer border-top border-light mt-2">
                        <div class="d-flex justify-content-end mt-2">
                            <button class="btn btn-primary me-4" type="submit">Зберегти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    const fileInput = document.querySelector('#imgFile');
    const img = document.getElementById('userImage');
    const imgSrc = img.getAttribute('src');
    const filename = img.getAttribute('alt');
    fetch(imgSrc)
        .then(async response => {
            const blob = await response.blob()
            const file = new File([blob], filename, {type: blob.type})
            const dataTransfer = new DataTransfer();
            dataTransfer.items.add(file);
            fileInput.files = dataTransfer.files;
        })
</script>

<script>
    const imgImg = document.getElementById('imgFile')
    const dishImage = document.getElementById('userImage')
    imgImg.onchange = evt => {
        const [file] = imgImg.files
        if (file) {
            dishImage.src = URL.createObjectURL(file)
        }
    }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var pass1 = document.querySelector('#password'),
            pass2 = document.querySelector('#passwordConfirmed')
        pass1.addEventListener('input', function () {
            this.value !== pass2.value ? pass2.setCustomValidity('Password incorrect') : pass2.setCustomValidity('')
        })
        pass2.addEventListener('input', function (e) {
            this.value !== pass1.value ? this.setCustomValidity('Password incorrect') : this.setCustomValidity('')
        })
    })
</script>
<script>
    (() => {
        'use strict'

        const forms = document.querySelectorAll('.needs-validation')

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>