<!doctype html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChiNa</title>
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>

<header th:insert="blocks/header :: #header"></header>

<main>

    <div class="container">
        <h1 class="text-light">Кабінет користувача</h1>
        <div class="card bg-dark p-4">
            <div class="card-header navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-light">
                <div class="container-fluid mb-2">
                    <a class="navbar-brand" href="/account" th:text="'Вітаємо, '+${name}+'!'"></a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#accountMenu" aria-controls="accountMenu" aria-expanded="false">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse justify-content-md-end collapse" id="accountMenu" style="">
                        <ul class="navbar-nav">
                            <li class="nav-item my-1">
                                <a href="/account/orders-account" class="btn btn-outline-warning mx-2">Історія
                                    замовлень</a>
                            </li>
                            <li class="nav-item my-1">
                                <a href="/account/info" class="btn btn-outline-warning mx-2">Про
                                    користувача</a>
                            </li>
                            <li th:if="${userRole.equals('ADMIN')}" class="nav-item my-1">
                                <a href="/admin" class="btn btn-outline-warning mx-2">Адмін-пенель</a>
                            </li>
                            <li class="nav-item my-1">
                                <form th:action="@{/logout}" th:method="POST">
                                    <button class="btn btn-outline-warning mx-2">Вийти з акаунту</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Адреса</th>
                        <th scope="col">Сума</th>
                        <th scope="col">Детальніше</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" th:text="${order.getOrderId()}"></th>
                        <td th:text="${order.getOrderDate().toLocalDate()}"></td>
                        <td th:text="${order.getDeliveryAddress()}"></td>
                        <td th:text="${order.getSum()}+' грн'"></td>
                        <td><a th:href="'/account/orders/order-info/'+${order.getOrderId()}">Детальніше</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:insert="blocks/footer :: #footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>